.table {
  margin: 20px;
  width: 80%;
}
.table-title-row {
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  width: 100%;
}
.table-row {
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  width: 100%;
}
.table-row:hover {
  cursor: pointer;
}
.button {
  display: flex;
  flex-direction: row;
  border: none;
  text-decoration: none;
  width: 100%;
  border: none;
  padding: 0;
  background-color: aliceblue;
}
.table-cell {
  display: flex;
  width: 33%;
  border: 1px solid;
  padding: 10px;
  font-size: calc(5px + 1.5vh);
}
.table-title-cell {
  display: flex;
  flex-direction: row;
  width: 33%;
  border: 1px solid;
  padding: 10px;
  font-weight: bold;
  font-size: calc(5px + 2vh);
}
.product-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid;
  align-items: center;
  margin: 20px;
}
